 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 110%;
}

main {
  padding: 10px;
  border-radius: 10px;
  /* width: 100%;
  max-width: 100%; */
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish a {
  text-align: center;
}

.diagnostico {
  color: red;
  font-size: 30px;
}

.spnQtd {
  text-align: end;
}
